.map-config {
    width: 40%;
    background-color: #f4f4f4;
    padding: 0px;
}

.map-config-form {
    max-width: 100%;
    padding: 15px;
}

.map-config-form-forgot {
    float: right;
}

.map-config-form-button {
    width: 100%;
}
